.product-img{
    width: 200px;
    border-radius: 20px;
    outline-color: black;
    outline-width: 2px;
    outline-style: solid;
}


.product-card{
    background-color: beige;
    border-radius: 30px;
    padding: 15px;
    margin: 20px;
    border-width: thin;
    

}

.product-name{
    font-size: 15px;
    inline-size: 200px;
}

.product-price{
    font-size: 15px;
    inline-size: 200px;
}