.navbar{
    text-align: center;
    
}

.nav-bar-items{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.nav-item{
    color: black;
    padding: 20px;
    text-decoration: none;
}
.nav-item:hover{
    cursor: pointer;
}