.product-grid{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey; 
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    border-radius: 30px;
 }