/* .hero-img{
    size: 100px;
    text-align: center;
} */
.hero-img{
    width: 500px;
}

.hero{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-color: black ;
    border-radius: 5px;
}

#welcome-message{
    font-size: 30px;
}